<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_parc_urlkeys">
        <observer name="disable_cron_observer" instance="Parc\UpdateUrlKeys\Observer\DisableCronObserver" />
    </event>
</config>
