<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="parc" translate="label" sortOrder="1">
            <label>PARC Network</label>
        </tab>
        <section id="parc_urlkeys" translate="label" type="text" sortOrder="1400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Update Url Keys</label>
            <tab>parc</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="storeviews" translate="label" type="text" sortOrder="10" showInDefault="1" canRestore="1">
                <label>Select Storeviews</label>
                <field id="selection" translate="label" sortOrder="5" showInDefault="1">
                    <label>Storeviews</label>
                    <comment><![CDATA[Updating all products can lead to long runtimes]]></comment>
                    <frontend_model>Parc\UpdateUrlKeys\Block\Adminhtml\Form\Field\Imports</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="run_now" translate="label" sortOrder="30" showInDefault="1">
                    <label>Run Now</label>
                    <frontend_model>Parc\UpdateUrlKeys\Block\Adminhtml\System\Config\RunNow</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="cronjob" translate="label" type="text" sortOrder="20" showInDefault="1" canRestore="1">
                <label>Configure Cronjob Interval</label>
                <field id="enabledisable" translate="label" sortOrder="1" showInDefault="1" type="select">
                    <label>Enable or disable cron functionality</label>
                    <source_model>Parc\UpdateUrlKeys\Model\Config\Source\EnableDisableCron</source_model>
                </field>
                <field id="configure" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Cronjob</label>
                    <comment><![CDATA[Enter the cron expression in the format * * * * *]]></comment>
                </field>
            </group>
            <group id="job_results" translate="label" type="text" sortOrder="25" showInDefault="1" canRestore="1">
                <label>Job results</label>
                <field id="show_job_results" translate="label" sortOrder="1" showInDefault="1">
                    <label>Results:</label>
                    <source_model>Parc\UpdateUrlKeys\Model\Config\Source\EnableDisableCron</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
